.cover-background {
  background-image: url('../assets/cover_image.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
}

.cover-text {
  color: white;
  text-align: center;
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 46px;
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
