.header-list {
  position: relative;
  list-style-type: none;
  display: flex;
  margin: 0;
}

.menu {
  margin-right: 10px;
}

.menu-title {
  display: inline-block;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.menu-dropdown:not(:empty) {
  transition: all .2s ease-in-out;
  margin-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  min-width: 750px;
  display: grid;
  line-height: 32px;
  justify-items: start;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 100%/4), 1fr));
}

.list {
  max-width: 75%;
}

.list:first-child {
  grid-row: span 2;
}

.column-title,
.list-element-text {
  color: black;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
}

.column-title {
  display: inline-block;
  line-height: 1.25;
  font-size: 20px;
  font-weight: bolder;
}

.column-title:hover,
.list-element-text:hover {
  color: black;
}

.menu:hover>.menu-dropdown:not(:empty) {
  border-top: 3px solid red;
  background: white;
  padding: 20px 0;
}

.menu-dropdown>* {
  list-style-type: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration-line: none;
}

.menu:hover>.menu-dropdown>* {
  visibility: visible;
  display: block;
  opacity: 1;
}

.hover-effect {
  transition: all .3s ease-out;
}

.hover-effect:hover {
  transition: all .4s ease-in;
  transform: translateY(-5px);
  opacity: 0.7;

}

.Header-button {
  transition: all .3s ease-out;
  margin-top: 25px;
  margin-right: 12px;
  background-color: transparent;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 550;
  border: 0;
  text-decoration: none;
}

.Header-button::after {
  font-family: ETmodules;
  content: " 3";
  font-size: 15px;
  font-weight: 800;
}

.Header-button:hover,
.hover-effect:hover {
  color: white;
  transition: all .4s ease-in;
  transform: translateY(-5px);
  opacity: 0.7;
}

.home-button {
  color: #e30613 !important;
  font-weight: 800;
}

.home-button::after {
  content: "" !important;
}

.contact-button::after {
  content: "" !important;
}

@font-face {
  font-family: "Poppins";
  src: url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot");
  src: url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2f86dc938a55788d3416b876b43a116a.svg#Poppins") format("svg");
}

@font-face {
  font-family: "ETmodules";
  src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot");
  src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff") format("woff"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.svg#ETmodules") format("svg");
}
