.main-info-section-container {
  background-blend-mode: multiply;
  background-image: url('../assets/Header Background.png'), linear-gradient(178deg, #003770 0%, #020033 99%);
  background-position: 50%;
  background-size: cover;
  padding: 4% 0%;
}

.info-section-header {
  color: white;
  font-size: 46px;
  font-family: 'work-sans';
}

.info-section-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
}

.info-section-title-container {
  width: 45%;
  max-width: fit-content;
  margin-right: 50px;
  border-bottom: 4px solid white;
}

.clickable {
  cursor: pointer;
}

.search-form-container {
  display: flex;
  max-width: fit-content;
  width: 25%;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
}

.info-search-box {
  background-color: transparent;
  width: 350px;
  height: 40px;
  border: 0;
}

.info-search-box:focus {
  background-color: white;
}

.info-search-box::placeholder {
  font-family: "work-sans";
  color: white;
}

.info-search-button {
  background-color: white;
  font-weight: 500;
  border: 0;
}

.info-section-body-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-content: space-around;
}

@font-face {
  font-family: "work-sans";
  src: url("https://use.typekit.net/af/5636ba/00000000000000007735c15a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/5636ba/00000000000000007735c15a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/5636ba/00000000000000007735c15a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
}
