.Main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  height: 190px;
}

.Header-background {
  background-blend-mode: multiply;
  background-image: url('../assets/Header Background.png'), linear-gradient(158deg, #003770 90%, #e30613 90%);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.UMSS-logo {
  width: 110px;
  height: auto;
  max-width: 100%;
}
