.socials-container {
  color: white;
  position: absolute;
  right: 15%;
  top: 10px;
  line-height: 26px;
}

.socials-header {
  font-weight: bold;
  font-size: 14px;
}

.social-ref {
  color: white;
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  background-size: 100px;
  padding: 5px;
  border-radius: 3px;
  margin-right: 8px;
}

.facebook-social-ref {
  font-family: ETmodules;
  background-color: #3b5998;

}

.facebook-social-ref::before {
  content: "\e093";
}

.linkedin-social-ref {
  font-family: ETmodules;
  background-color: #007bb6;
}

.linkedin-social-ref::before {
  content: "\E09D";
}

.instagram-social-ref {
  font-family: ETmodules;
  background-image: linear-gradient(180deg, #ea2eb8 0%, #ef932f 100%);
}

.instagram-social-ref::before {
  content: "\e09a";
}

.twitter-social-ref {
  font-family: ETmodules;
  background-color: #00aced;
}

.twitter-social-ref::before {
  content: "\e094";
}

.youtube-social-ref {
  font-family: ETmodules;
  background-color: red;
}

.youtube-social-ref::before {
  content: "\E0A3";
}

.telegram-social-ref {
  font-family: FontAwesome;
  background-color: #179cde;
}

.telegram-social-ref::before {
  content: "\f2c6";
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fa-brands-400.ttf");
}
