.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

h3{
    font-size: 22px;
    text-shadow: 0.08em 0.08em 0.08em rgb(0 0 0 / 64%);
}

.carousel-caption{
    padding-top:10px;
    padding-bottom: 11px;
    right: 10%;
    left: 10%;
}

.carousel-item{
    transition: all .2s ease-in-out;
    opacity: 50;
}

.carousel-border{
    height: 160 px;
    width: 330px;
    border-radius: 15px;
    border-style: solid;
    border-color: #7EBEC5;
    border-width: 1px;
}