.pie-de-pagina{
    font-family: 'Open sans', Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #e30613;
    line-height: 1.7em;

  
}

.contenido-footer{
		bottom: 0;
    z-index: 1;
}


.seccion {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
}

.seccion.cero{
    background-blend-mode: multiply;
    background-image: url(https://www.umss.edu.bo/wp-content/uploads/2021/11/5650360.png),linear-gradient(152deg,#003770 90%,#e30613 90%);
    padding-top: 0px;
   
    background-color: inherit!important;
}

.seccion.dos{
    background-blend-mode: multiply;
    background-image: url(https://www.umss.edu.bo/wp-content/uploads/2021/11/5650360.png)!important;
}

.fondo{
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.fila-dos-dos{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.texto-umss{
    color: white;
    font-size: 12px;
    font-weight: 900;
}

.formato-texto{
    font-weight: 700;
}

.fondo-dos{
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #e30613!important;
}

.fila{
	padding: 27px 0;
	width: 100%;
	/*align-items: center;*/
	display: flex;
	justify-content: center;

}


.fila.columna{
	margin-left: auto!important;
	margin-right: auto!important;
}

.columna{
	/*background-color: yellow;*/
	float: left;
	align-items: center;
	position: relative;
	text-align: center;
	width: 80%;
	max-width: 405px;
	font-weight: 700;
}

.columna.dos{
	align-items: center;
	text-align: center;
	margin-top: 23px;
}
.tres{
	margin-top: 39px;
}

.contenedor-columna-2{
	align-items: center;
	text-align: center;
}

.contenedor-cero{
	align-items: center;
	text-align: center;
}

.contenedor-texto{
	margin-top: 0px;
}

.lista-redes{
	padding-top: 1px;
	padding-left: 0.5rem;
}

.lista-redes li{
	margin-right: 8px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	position: relative;
}

.social-icon{
	height: 35px;
	width: 35px;
	padding: 0;
	border-radius: 3px;
}

.social-icon a{
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.redes-sociales li a{
	display: none;
}

.redes-sociales-seguir{
	display: none;
}

@font-face {
	font-family: "ETmodules";
	src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot");
	src: url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.woff") format("woff"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9d25ea5c587d0f9d470aa9a3634735ea.svg#ETmodules") format("svg");
}


.redes-sociales a.icon::before{
	font-family: ETmodules;
	/*speak: none;*/
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0 0; 
	direction: ltr;
}

.redes-sociales-tg a.icon::before{
	font-family: "Font Awesome 6 Brands";
	font-weight: 400;
	display: inline-block
}

.lista-redes li a.icon:before{
	height: 32px;
	width: 32px;
	font-size: 18px;
	line-height: 32px;
	display: inline-block;
	color: #fff;
	transition: color .3s;
	position: relative;
	z-index: 10;
	text-align: center;
	align-items: center;
}

.lista-redes li a{
	/*margin-right: 8px;*/
	display: inline-block;
	text-decoration: none;
	text-align: center;
	position: relative;
	margin-top: 1px;
}

li:last-child a {
	margin-right: 0;
}

.fa-brands{
	color: white;
	font-size: 18px;
	text-align: center;
}

.redes-sociales a.iconn{
	vertical-align: middle;
}

.fondo-facebook{
	background-color: #3b5998!important;
}
.icon-facebook a.icon::before{
	content: "\e093";
}
.fondo-twitter{
	background-color: #00aced!important;
}

.icon-twitter a.icon::before{
	content: "\e094";
}

.fondo-instagram{
	background-image: linear-gradient(180deg,#ea2eb8 0%,#ef932f 100%)!important;
}

.icon-instagram a.icon::before{
	content: "\e09a";
}

.fondo-in{
	background-color: #007bb6!important;
}

.icon-in a.icon::before{
	content: "\E09D";
}

.fondo-youtube{
	background-image: linear-gradient(180deg,#ff324e 0%,#ff3535 100%)!important;
}

.icon-youtube a.icon::before{
	content: "\E0A3";
}

.fondo-telegram{
	background-color: #179cde!important;
}

.icon-telegram a.icon::before{
	content: "\f2c6";
}

li{
	text-align: -webkit-match-parent;
}

.color-letra{
	color: #fff!important;
}

.text-seccion-dos{
	margin-bottom: 0;
}

.name-UMSS{
	padding-top: 0.4rem;
	margin-bottom: 0.5rem;
}

/*Carousel*/
.carousel-background-color{
	background-color: #7EBEC5;
}

.carousel{
	width: 330px;
	height: 160px;
	border-radius: 15px 15px 15px 15px;
	position: relative;
	border-color: #e30613;
}